.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.notfound-img {
  width: 200px;
}

.notfound-heading {
  font-size: 25px;
  font-family: 'Roboto';
  color: #1e293b;
}

.notfound-text {
  font-size: 16px;
  color: #64748b;
  text-align: center;
  font-family: 'Roboto';
}
