.tech-failure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.failure-img {
  width: 220px;
}

.failure-text {
  font-size: 12px;
  color: #64748b;
  font-family: 'Roboto';
  text-align: center;
}

.failure-heading {
  font-size: 16px;
  color: #1e293b;
  font-family: 'Roboto';
}
